.imgSize{
    max-width: 60%;
    margin: 2%;
}

.text-white{
    color: white;
}

h1{
    font-size: 380%;
}

body{
    background-image: url("christmasBg1.jpg");
}

.audioPlayer{
    border-radius: 5px;
    width: 55%;
    margin: 2%;
}

.box{
    background-color: rgba(160, 47, 47, 0.97);
    border: 1px solid;
    border-color: white;
    display: flex;
    border-radius: 8px;
    width: 50%;
    align-items: center;
    flex-direction: column;
    margin: 2% auto;
    margin-top: 2%;
}

@media (max-width: 600px) {
  
    .box{
        width: 90%;
    }
    h1{
        font-size: 210%;
    }
  }

  @media (max-width: 800px) {
    .box{
        width: 70%;
    }
    h1{
        font-size: 260%;
    }
  }

  @media (max-width: 1000px) {
    .box{
        width: 70%;
    }
    h1{
        font-size: 230%;
    }
  }

  @media (max-width: 440px) {
    .box{
        width: 90%;
    }
    h1{
        font-size: 210%;
    }
  }